.layout-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: $black;

    .layout-column-one {
        width: 100%;
        height: 100%;
    }

    .layout-column-two {
        width: 100%;
        height: 100%;
    }
}